body{
	margin-top:50px;
}
.navbar-inverse{
	background-color:black;
	box-shadow:2px 4px 10px;
}
.two{
	margin-left:140px;
}
.navbar-nav{
	margin-top:10px;
    font-size:18px;
	margin-right:10px;
	
}
.dropdown-menu{
	background:black !important;
	color:white !important;
}
.dropdown-menu li a{
	background:black !important;
}

.navbar-toggle{
	margin-top:20px;
}
	
.navbar-nav li a{
	color:white !important;
	border:none !important;
}
a:focus,button:focus{
	outline:none !important;
}
.navbar-nav li a:active{
	color:rgb(255, 85, 0)!important;
}
	
.icon-bar{
	background-color:white !important;
}
.head{
	text-transform:uppercase;
	text-align:center;
	font-family:'Times New Roman', Times, serif;
	color:rgb(255,190,60) !important;
}
.para{
	font-size:20px;
}
.card{
	border:0px solid #ddd !important;
	border-radius:10px !important;
	border-left:10px solid #01576faf !important;
	padding-TOP:30px !important;
	padding-bottom:30PX !important;
	margin:15px 0 !important;
	box-shadow:0 14px 10px rgb(0,0,0,0.3) !important;
	background:#fff !important;
}
.card:hover{
	transform:translateY(10px);
}
.icon{
	display:flex;
	gap:20px;
	justify-content:center;
	align-items:center;
	margin-left:30px;
}
.bi-star-fill{
	color:rgb(255,190,60) !important;
}
.bi-star-half{
	color:rgb(255,190,60) !important;
}
.paragraph{
	font-family:'Times New Roman', Times, serif;
	font-size:15px;
}
a{
	text-decoration:none;
}
.bottom{
	border-bottom:1px solid black;
}
.a2
{							
    height:120px;
}
.heading{
	font-family:'Times New Roman', Times, serif;
	font-size:50px;
}
.service{
	color:rgb(280,190,10) !important;
}
.color{
	color:rgb(255, 69, 0) !important;
}
.btn-default{
	font-size:20px;
	border:1px solid black !important;
	color:black;
	background-color:rgb(255, 85, 0);
	border-radius:5px;
}
.btn-default:active{
	background-color:rgb(255, 85, 0)!important;
	color:white !important;
}
.footer{
	background-color:black;
}
.text{
	color:white !important;
}
.color2{
	color:rgba(255, 85, 0, 0.761) !important;
}
.bg{
	background-color:black;
}
.booknow:active{
	color:rgb(255, 85, 0)!important;
}
.para1{
	color :rgb(255, 69, 0) !important;
	font-size:30px;
}
.form-control{
	border:1px solid black !important;
}
.click{
	background-color :#01576faf !important;
	color :#222 !important;
	padding :8px 10px !important;
	border :none !important;
	border-radius : 10px !important;
	font-size :16px !important;
	font-weight :600 !important;
	cursor :pointer !important;
	transition :0.3s ease;
}
.form-control{
	border:1px solid black !important;
	padding :20px 15px;;
}
.booking-form{
    background:white;
    max-width:500px;
    margin:20px 300px;
    padding:30px;
    border-radius:5px;
    box-shadow:0px 0px 20px black;
	
}

.booking-form h2{
    text-align:center;
    margin-bottom:30px;
    font-weight:bold;
    color:#333;
}

.form-group{
    margin-bottom:20px;
}
.btn-book{
    width:100%;
    background:#e74c3c;
    color:#fff;
    border:none;
    padding:12px;
    font-size:16px;
    font-weight:bold;
}

.btn-book:hover{
    background:#c0392b;
    color:#fff;
}

/* Tablet */
@media (max-width:991px){

    .booking-form{
        margin:130px;
        padding:50px;
    }
	.audi-logo{
		max-width:195px;
		margin:0 auto;
		display:block;
	}
}

/* Mobile */
@media (max-width:767px){

    .booking-form{
        margin:10px;
        padding:50px;
    }

    .booking-form h2{
        font-size:24px;
    }

    .btn-book{
        font-size:14px;
        padding:5px;
    }
	.audi-logo{
		max-width:95px !important;
		margin:0 auto;
		display:block;
	}
}








